h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  color: orange;
}

a:hover {
  color: yellow;
}

.show-on-scroll {
  position: fixed;
  text-align: center;
  right: 0;
  bottom: 1em;
  z-index: 200;

  background-color: #111;
  padding: 0.5em;
  border-radius: 20px 0 0 20px;
}

.desktop-only {
  display: none;
  visibility: hidden;
}

.text-centered {
  text-align: center;
}
.text-center {
  text-align: center;
}

.text-head {
  font-weight: 200;
  margin: 2em auto;
}

.l-box {
  padding: 1em;
}

.splash-container {
  color: white;
  background-color: crimson;
  background: url('../images/background.jpg');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.splash {
  margin: auto;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1em;

  overflow: hidden;
}

.splash-head {

  font-weight: 100;
  font-size: 200%;

  padding: 1em;

}

.content-wrapper {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 80%;  
}

.content {
  padding: 1em;
  color: #fff;
}

.content.white {
  color: #333;
  background-color: #eee;
}

.content.dark {
  color: #eee;
  background-color: #333;
}

.footer {
  padding: 1em;
  color: #eee;
}

.pure-button {
  color: white;
  background-color: #ffa500;
}

.pure-button-large {
  font-size: 150%;
}

@media screen and (min-width: 48em) {

  .splash {
    width: 50%;
    padding: 2em;
  }

  .splash-head {
    font-size: 300%;

    border: 3px solid white;
    border-radius: 5px;
  }
}

#footer {
  height: 100vh;
  overflow: hidden;
}

#to-top {
  color: #fff;
}

#to-top:visited {
  color: #fff;
}

#to-top:focus {
  text-decoration: none;
  border: none;
  outline: none;
}

.fa.head {
  margin-right: 0.3em;
}

.pure-form.full input[type="text"],
.pure-form.full input[type="password"],
.pure-form.full input[type="email"],
.pure-form.full input[type="url"],
.pure-form.full input[type="date"],
.pure-form.full input[type="month"],
.pure-form.full input[type="time"],
.pure-form.full input[type="datetime"],
.pure-form.full input[type="datetime-local"],
.pure-form.full input[type="week"],
.pure-form.full input[type="number"],
.pure-form.full input[type="search"],
.pure-form.full input[type="tel"],
.pure-form.full input[type="color"],
.pure-form.full select,
.pure-form.full textarea,
.pure-form.full button {
  width: 80vw;
  margin: 0.5em auto;
  padding: 1em;
}

@media screen and (min-width: 40em ) {
  .pure-form.full input[type="text"],
  .pure-form.full input[type="password"],
  .pure-form.full input[type="email"],
  .pure-form.full input[type="url"],
  .pure-form.full input[type="date"],
  .pure-form.full input[type="month"],
  .pure-form.full input[type="time"],
  .pure-form.full input[type="datetime"],
  .pure-form.full input[type="datetime-local"],
  .pure-form.full input[type="week"],
  .pure-form.full input[type="number"],
  .pure-form.full input[type="search"],
  .pure-form.full input[type="tel"],
  .pure-form.full input[type="color"],
  .pure-form.full select,
  .pure-form.full textarea,
  .pure-form.full button {
  width: auto;
  margin: auto;
  padding: 0.5em 1em;
  }

  .desktop-only {
    display: inline-block;
    visibility: visible;
  }
}

@media screen and (min-width: 80em) {

}